
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a class="button" routerLink="/" routerLinkActive="activebutton"><img
      width="75px"
      alt="HeyWorld Logo"
      src="assets\logo.png"
    /></a>
    
    <nav role="navigation">
      <div id="menuToggle" style="margin-top:11px;">
        
        <input type="checkbox" />
        
        <span></span>
        <span></span>
        <span></span>
        
    
        <ul id="menu">
          <a class="button" routerLink="/" routerLinkActive="activebutton" class="menu_item" style="text-decoration:none"><li onMouseOver="this.style.color='black'"
            onMouseOut="this.style.color='white'">
        Home</li></a>
          <a class="button" routerLink="/project" routerLinkActive="activebutton" class="menu_item" style="text-decoration:none"><li onMouseOver="this.style.color='black'"
            onMouseOut="this.style.color='white'">
        Projects</li></a>
        <a class="button" routerLink="/consultant" routerLinkActive="activebutton" class="menu_item" style="text-decoration:none"><li onMouseOver="this.style.color='black'"
            onMouseOut="this.style.color='white'">
        Consultant</li></a>
       
        </ul>
      </div>
    </nav>
  
  </div>
  
  
  
  
  
  
</body>
</html>